package api

import(
  "net/http"

  "github.com/gorilla/mux"
)

type server struct {
  *mux.Router
  config *Config
}

func NewServer(config *Config) http.Handler {
  server := &server{
    Router: mux.NewRouter(),
    config: config,
  }

  return server
}
